# Archivist API key (e.g., 12345678-1234-5678-90ab-1234567890ab)
API_KEY=

# Port to run Archivist server on
APP_PORT=8888

# Seed used for generating wallet archivist signs with
ACCOUNT_SEED="default insecure account seed"

# Comma-separated list of allowed CORS origins (http://localhost:3000,http://localhost:3001,http://localhost:3002)
CORS_ALLOWED_ORIGINS=http://localhost:3000

JWT_SECRET=your_jwt_secret

# Connect to MongoDB using connection string
MONGO_CONNECTION_STRING=mongodb://root:example@localhost:27017/archivist?authSource=admin&retryWrites=true&w=1

# Connect to MongoDB using environment variables
MONGO_DATABASE=archivist
MONGO_DOMAIN=localhost
MONGO_PASSWORD=example
MONGO_USERNAME=root

MNEMONIC="sand patient donkey rude degree lady wheel cabin opera relax foil chaos lion shrimp repeat"

INFURA_PROJECT_ID=xxx
INFURA_PROJECT_SECRET=xxx