NEXT_PUBLIC_API_URL=http://localhost:4000

# Mapbox Access Token (required for @rnmapbox/maps)
# Get your access token from: https://account.mapbox.com/access-tokens/ - starts with pk.*
NEXT_PUBLIC_MAPBOX_TOKEN=your_mapbox_token
